# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Publishing

on:
  push:
    tags:
      'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: '0'
    - uses: volta-cli/action@v3
    - name: pip cache
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: node cache
      id: node-cache
      uses: actions/cache@v3
      with:
        path: node_modules
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - run: pip install -r ./requirements.txt
    - name: npm install
      if: steps.node-cache.outputs.cache-hit != 'true'
      run: npm install
    - run: npm ci --no-audit
    - run: npm run build --if-present
      env:
        CI: true
    - run: npm test
    - name: Commit Build File
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        branch: master
        file_pattern: build/src/*.js build/src/*.js.map build/src/*.d.ts
        commit_message: 'Fix: Automated apply build files'
        status_options: '--untracked-files=no'

  publish:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - branch: master
            token: NPM_TOKEN
            registry: https://registry.npmjs.org/
          - branch: github-repo
            token: GITHUB_TOKEN
            registry: https://npm.pkg.github.com/
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ matrix.branch }}
    - name: Merge master -> github-repo
      if: matrix.branch == 'github-repo'
      uses: devmasx/merge-branch@1.4.0
      with:
        type: now
        from_branch: master
        target_branch: github-repo
        github_token: ${{ secrets[matrix.token] }}
    - uses: volta-cli/action@v3
    - uses: actions/setup-node@v3
      with:
        registry-url: ${{ matrix.registry }}
    - name: pip cache
      id: pip-cache
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: node cache
      id: node-cache
      uses: actions/cache@v3
      with:
        path: node_modules
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - run: pip install -r ./requirements.txt
    - name: npm install
      if: steps.node-cache.outputs.cache-hit != 'true'
      run: npm install
    - run: npm ci
    - run: npm run build --if-present
      env:
        CI: true
    - run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets[matrix.token] }}
